<header class="header header-inicio" [style.background-image]="headerImage">
  <div class="contenido-header contenedor">
    <div class="sesion">
      <button
        type="button"
        class="btn btn-lg btn-outline-light me-3"
        routerLink="/login"
        *ngIf="!user"
      >
        Iniciar Sesion
      </button>
      <button
        type="button"
        class="btn btn-lg btn-outline-light"
        routerLink="/register"
        *ngIf="!user"
      >
        Registrate
      </button>
      <div class="carrito dropdown">
        <svg
          *ngIf="user"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="white"
          class="bi bi-cart me-5 dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
          />
        </svg>
        <ul class="dropdown-menu">
          <!-- Aquí puedes agregar elementos para el menú del carrito -->
          <li *ngFor="let elemento of elementos">
            <div
              class="item-carrito d-flex justify-content-between align-items-center"
            >
              <img [src]="elemento.img" alt="imagen" />
              <span>{{ elemento.nombre }}</span>
              <span>${{ elemento.precio | precioFormat }}</span>
              <span>
                <svg
                  (click)="deleteItem(elemento.id)"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="red"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                  />
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                  />
                </svg>
              </span>
            </div>
          </li>
          <li class="total text-center">
            Total Compra : ${{ getTotal() | precioFormat }}
          </li>
          <li class="text-center">
            <button class="btn-enviar" (click)="pagar()">Pagar</button>
          </li>
        </ul>
      </div>
      <div class="carrito dropdown">
        <div *ngIf="user" class="numero d-flex align-items-center justify-content-center">
          {{ elementos.length }}
        </div>
        <svg
          *ngIf="user"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="white"
          class="bi bi-person dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
          />
        </svg>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="logout()">Cerrar Sesion</a></li>
        </ul>
      </div>
    </div>
    <div class="barra">
      <div class="logo">
        <img src="assets/img/logo.png" alt="logo cafeteria" />
      </div>
      <nav class="nav-principal">
        <a routerLink="/home" routerLinkActive="activo">Inicio</a>
        <a routerLink="/nosotros" routerLinkActive="activo">Nosotros</a>
        <a routerLink="/productos" routerLinkActive="activo">Productos</a>
        <a routerLink="/resenas" routerLinkActive="activo">Reseñas</a>
        <a routerLink="/contacto" routerLinkActive="activo">Contacto</a>
      </nav>
    </div>
    <div class="texto-header">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>
</header>
