<header class="header header-inicio">
  <div class="contenido-header contenedor">
    <div class="barra">
      <button
        type="button"
        class="btn btn-lg btn-outline-light me-3 boton1"
        routerLink="/crear"
      >
        Crear Producto
      </button>
      <button type="button" class="btn btn-link boton2" (click)="logout()">
        Salir
      </button>
    </div>
  </div>
</header>

<main class="contenedor contenido-principal text-center">
  <div class="listado-productos">
    <div class="producto" *ngFor="let producto of productos">
      <img
        loading="lazy"
        decoding="async"
        [src]="producto.img"
        alt="Imagen producto"
      />
      <div class="texto-producto">
        <h3>{{ producto.nombre }}</h3>
        <p>
          {{ producto.descripcion }}
        </p>
        <p class="precio">
          {{ producto.precio | precioFormat }} <span class="fs-1">cop</span>
        </p>
      </div>
      <div class="botones">
        <button class="editar" (click)="irEditar(producto.id)">Editar</button>
        <button class="borrar" (click)="borrarProducto(producto.id)">
          Borrar
        </button>
      </div>
    </div>
  </div>
</main>
