<main class="contenedor contenido-principal">
    <h2><span>Conoce más</span> sobre nosotros</h2>

    <div class="contenido-nosotros">
        <div class="imagen">
            <picture class="mb-5">
                <img loading="lazy" decoding="async" src="assets/img/nosotros_sidebar.jpg" lazyalt="imagen" width="500" height="300">
            </picture>
            <picture class="picture-2">
                <img loading="lazy" decoding="async" src="assets/img/nosotros3.jpg" lazyalt="imagen" width="500" height="300">
            </picture>
            <picture class="picture-2" >
                <img loading="lazy" decoding="async" src="assets/img/nosotros2.jpg" lazyalt="imagen" width="500" height="300">
            </picture>
            
        </div>
        

        <div class="texto">
            <p>
                ¡Bienvenido a Le Café! Somos mucho más que una simple cafetería: somos un refugio acogedor en el corazón de la ciudad, donde el aroma irresistible del café recién hecho y el ambiente cálido te hacen sentir como en casa. En Le Café, no solo nos dedicamos a servir café excepcional, sino que también nos esmeramos en ofrecerte una experiencia que estimule tus sentidos y eleve tu espíritu.
                
                Desde los granos de café más selectos hasta la cuidada preparación de cada taza, en Le Café nos comprometemos con la excelencia en cada detalle. Nuestros granos son cuidadosamente seleccionados de las mejores regiones productoras del mundo y expertamente tostados para liberar sus sabores más exquisitos. Cada sorbo de café en Le Café es una verdadera obra maestra de sabor y calidad.
                
                Pero Le Café no se limita solo al café de la mañana; también somos un destino para los amantes de la buena comida y la buena compañía. Nuestra variedad de pasteles y bocadillos recién horneados complementa a la perfección nuestra selección de cafés, creando combinaciones deliciosas que satisfacen todos los antojos.
                
                Además de deleitar tu paladar, en Le Café también nos esforzamos por nutrir tu espíritu y tu mente. Nuestro espacio está diseñado para inspirar conversaciones significativas, encuentros memorables y momentos de tranquilidad en medio del bullicio diario.
                
                Ya sea que estés buscando un lugar para disfrutar de una taza de café tranquilamente solo, tener una reunión informal con amigos o simplemente escapar del ajetreo de la ciudad, te invitamos a hacer de Le Café tu hogar lejos de casa. ¡Ven y únete a nosotros para una experiencia que va más allá del café!</p>

            <blockquote>Excelente Sabor! Nuestro café es el mejor</blockquote>

            
        </div>
    </div>
</main>