<main class="contenedor contenido-principal text-center">
  <section class="conoce">
    <h2 class="text-center">Nuestros Productos</h2>
    <p>
      ¡Haz que cada mañana sea especial con Le Café! En nuestra tienda en línea,
      te ofrecemos una amplia selección de cafés gourmet y delicias horneadas
      para que puedas disfrutar del encanto de Le Café desde la comodidad de tu
      hogar. Nuestros cafés son elaborados con los granos más selectos,
      cuidadosamente tostados para resaltar sus sabores más exquisitos. Desde el
      suave y aromático café espresso hasta el reconfortante café de filtro,
      tenemos algo para cada amante del café. Pero eso no es todo. También
      ofrecemos una variedad de delicias horneadas, desde croissants frescos
      hasta muffins esponjosos, perfectos para acompañar tu taza de café. Y para
      aquellos que prefieren opciones más saludables, nuestra selección de
      desayunos nutritivos es justo lo que necesitas para empezar el día con
      energía. Desde bowls de avena cargados de frutas frescas hasta tostadas de
      aguacate y tomate, te aseguramos que cada bocado será una explosión de
      sabor y nutrición. Así que ¿por qué conformarte con lo ordinario cuando
      puedes disfrutar de lo extraordinario con Le Café? Visita nuestra tienda
      en línea hoy mismo y lleva el encanto de Le Café a tu hogar. Haz que cada
      día sea especial con nuestros cafés gourmet y delicias horneadas. ¡Tu
      paladar te lo agradecerá!
    </p>
  </section>

  <div class="listado-productos">
    <div class="producto" *ngFor="let producto of productos">
      <img
        loading="lazy"
        decoding="async"
        [src]="producto.img"
        alt="Imagen producto"
      />
      <div class="texto-producto">
        <h3>{{ producto.nombre }}</h3>
        <p>{{ producto.descripcion }}</p>
        <p class="precio">
          ${{ producto.precio | precioFormat }}<span class="fs-1">cop</span>
        </p>
        <a
          *ngIf="usuario"
          class="btn"
          type="button"
          (click)="agregarProducto(producto)"
          >Agregar al Carrito</a
        >
      </div>
    </div>
  </div>
</main>
