

<main class="contenedor contenido-principal text-center">
    <section id="testimonios">
        <h2>Testimonios de Clientes</h2>
        <div class="testimonial">
          <p>"¡El café de Le Café es increíblemente delicioso! Siempre me levanta el ánimo por las mañanas."</p>
          <p class="cliente">- María G. </p>
        </div>
        <div class="testimonial">
          <p>"¡La atención al cliente en Le Café es impecable! Siempre me siento bienvenido y apreciado."</p>
          <p class="cliente">- Juan R. </p>
        </div>
        <div class="testimonial">
          <p>"Me encanta la variedad de pasteles que ofrecen en Le Café. ¡Siempre encuentro algo delicioso para acompañar mi café!"</p>
          <p class="cliente">- Laura M.</p>
        </div>

        <div class="testimonial">
            <p>"¡El café de Le Café es increíblemente delicioso! Siempre me levanta el ánimo por las mañanas."</p>
            <p class="cliente">- María G.</p>
        </div>
      </section>
</main>


