<main class="contenedor contenido-principal text-center">
    <section class="conoce">
        <h2><span>Le Café</span> Cada sorbo es un Abrazo </h2>
        <p>Bienvenido a Le Café donde cada taza es un abrazo y cada momento es especial. Disfruta del mejor café y del ambiente acogedor que te mereces. ¡Únete a nosotros y saborea la experiencia!</p>
    </section>

    <section class="iconos">
        <img src="assets/img/productos.jpg" alt="icono café">
        <ul class="listado-iconos">
            <li>
                <p>Café</p>
            </li>

            <li>
                <p>Postres</p>
            </li>

            <li>
                <p>Horneados</p>
            </li>
        </ul>
    </section>

    <section class="experiencia">
        <h2><span>Vive la</span> experiencia </h2>

        <div class="galeria">
            <div class="imagen">
                <img src="assets/img/galeria/galeria_01.jpg" alt="galeria">
            </div>
            <div class="imagen">
                <img src="assets/img/galeria/galeria_02.jpg" alt="galeria">
            </div>
            <div class="imagen">
                <img src="assets/img/galeria/galeria_03.jpg" alt="galeria">
            </div>
            <div class="imagen">
                <img src="assets/img/galeria/galeria_04.jpg" alt="galeria">
            </div>
            <div class="imagen">
                <img src="assets/img/galeria/galeria_05.jpg" alt="galeria">
            </div>
            <div class="imagen">
                <img src="assets/img/galeria/galeria_06.jpg" alt="galeria">
            </div>
            <div class="imagen">
                <img src="assets/img/galeria/galeria_07.jpg" alt="galeria">
            </div>
            <div class="imagen">
                <img src="assets/img/galeria/galeria_08.jpg" alt="galeria">
            </div>
            <div class="imagen">
                <img src="assets/img/galeria/galeria_09.jpg" alt="galeria">
            </div>
            <div class="imagen">
                <img src="assets/img/galeria/galeria_10.jpg" alt="galeria">
            </div>

        </div>
    </section>

</main>