<header class="header header-inicio " >
    <div class="contenido-header contenedor">
        
        <div class="barra">
            
            <div class="barra">
                <button type="button" class="btn btn-lg btn-outline-light me-3 boton1"  routerLink="/admin" >Home</button>
                <button type="button" class="btn btn-link boton2" routerLink="/home">Salir</button>
            
            </div> 
        
        </div>   
    </div>
</header>

<main class="contenedor contenido-principal text-center">
    <div class="editar ">
        <h4 class="title-edit">CREAR PRODUCTO</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="mb-5"  loading="lazy" decoding="async"  src="../../../../assets/img/productos/producto_5.jpg" alt="Imagen producto">
        </div>
        <div class="edit-form ">
            <div class="row align-items-center mb-3">
                <div class="col-4 text-h">
                  <label for="inputPassword6" class="col-form-label">Nombre:</label>
                </div>
                <div class="col-8">
                  <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
            </div>

            <div class="row align-items-center mb-3">
                <div class="col-4 text-h">
                    <label for="inputPassword6" class="col-form-label">Descripción: </label>
                </div>
                <div class="col-8">
                    <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 text-h">
                    <label for="inputPassword6" class="col-form-label">Precio: </label>
                </div>
                <div class="col-8">
                    <input type="number" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
            </div>
            <div class="campo">
                <input type="button" (click)="submit($event)" value="Enviar">
            </div>

        </div>

            
    </div>
   

</main>